@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Poppins&display=swap');




html h1 {
color: black;
}

html p {
  color: whitesmoke;
  font-family: 'Noto Serif', serif;
  }

  html h3 {
    color: darkblue;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    } 

    html h4 {
      color: black;
      font-family: 'Noto Serif', serif;
      
      } 

html body {
  background-color: rgba(0,0,0,1.00);


}

html h2 {
  color: red; 
  font-family: 'Poppins', sans-serif; 
}

.jumbotron {
  color: black; 
  font-family: 'Poppins', sans-serif; 
}

html h1 {
  color: ; 
}



h1: {
background: black;
color: blue;

}




}
h1: {
    font-family: 'Poppins', sans-serif; 
    color: black;
  display: flex;
  min-height: 100vh;
  margin: 0; 

  
}
  body, nav, aside {
    font-family: 'Noto Serif', serif;
    font-size: large;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;

  }
  head {
      background-image: url("header_car.jpg");
  
    
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
    ;
  }
  #main > nav {
    order: -1;
  }
footer  {
    color: whitesmoke;
  font-size: medium;
    height: 20vh;
  

}



  header, footer, article, nav, aside {
    padding: 1em;
    
  }



  background:  linear-gradient(to right, white , grey);
