@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Poppins&display=swap');


.h1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

}
h1: {
    font-family: 'Poppins', sans-serif; 
  display: flex;
  min-height: 100vh;
  margin: 0; 

  
}
  body, nav, aside {
    font-family: 'Noto Serif', serif;
    font-size: large;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;

  }
  head {
      background-image: url("header_car.jpg");
  
    
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
    ;
  }
  #main > nav {
    order: -1;
  }
 h1, footer  {
    background:  linear-gradient(to top, white ,grey );
    height: 20vh;
  

}


}
  header, footer, article, nav, aside {
    padding: 1em;
    
  }



  background:  linear-gradient(to right, white , grey);
