@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Poppins&display=swap');


html h1 {
  background: -webkit-linear-gradient(#013199, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html p {
  color: whitesmoke;
  font-family: 'Noto Serif', serif;
  }

  html h3 {
    color: black;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    } 

    html h4 {
      color: black;
      font-family: 'Noto Serif', serif;
      
      } 

html body {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);
}


.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #55ACEE;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

html h2 {
color: black; 
  font-family: 'Poppins', sans-serif; 
}

.jumbotron {
  color: black; 
  font-family: 'Poppins', sans-serif;    
    } 
  
html footer {
  color: whitesmoke;
  font-family: 'Noto Serif', serif;
  } 

h1: {
    font-family: 'Poppins', sans-serif; 
    color: black;
  display: flex;
  min-height: 100vh;
  margin: 0; 

}
  body, nav, aside {
    font-family: 'Noto Serif', serif;
    font-size: large;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;

  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
    ;
  }
  #main > nav {
    order: -1;
  }
footer  {
    color: whitesmoke;
  font-size: medium;
    height: 20vh;
  

}
header, footer, article, nav, aside {
  padding: 1em;
  
}



